<div *ngIf="!data">
  <app-inner-loader></app-inner-loader>
</div>


<div *ngIf="data">
  <div [routerLink]="['/detail', page]" class="btn btn-secondary view__back"><span class="fa fa-angle-left"></span>Go Back</div>

  <div class="view__title">More detail about {{ model.name }}</div>

  <div class="col-sm">
    <div class="view__image-wrap">
      <img class="view__image" *ngFor="let img of model.images" src="{{img}}" alt="">
    </div>
  </div>
  <div class="col-sm">
    <p class="view__description">{{ model.description }}</p>
    <div class="row">
      <div class="col-xs">
        <div class="btn-group pull-right clearfix">
          <div class="btn btn-secondary">{{ model.price | currency }}</div>
          <div class="btn btn-success" (click)="addToBasket(model.id)">+ Add to basket</div>
        </div>
      </div>
    </div>
  </div>
</div>

