.menu-panel {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  &__elem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0);
    &.active {
      background: #f1f1f1;
      border-bottom: 2px solid coral;
    }
  }
  &__context {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    display: inline-block;
    padding: 10px 30px;
  }
}
