ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  cursor: pointer;
}

/******************************/
/*         Components         */
/******************************/
@import "styles/components/spinner";

body {
  background: #e4e2e2;
}
