/* You can add global styles to this file, and also import other style files */

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


/******************************/
/*         Components         */
/******************************/
@import "styles/components/spinner";

body {
  background: #e4e2e2;
}
