<div class="detail-page">
  <h3 class="detail-page__title">{{ page }}</h3>
  <div class="detail-page__hr"></div>

  <div *ngIf="!models">
    <app-inner-loader></app-inner-loader>
  </div>

  <div class="detail-page__about-product about-product" *ngFor="let model of models">
    <div class="row">
      <div class="col-sm">
        <div class="about-product__img-wrap">
      <img class="about-product__img" src="{{ model.images }}" alt="{{ model.name }}">
    </div>
      </div>
      <div class="col-sm">
        <p class="about-product__title">{{ model.name }}</p>
        <p class="about-product__description">{{ model.description }}</p>
        <div class="about-product__navigation">
          <div class="btn-group" [routerLink]="['view', model.name]">
            <div class="btn btn-secondary">{{ model.price | currency }}</div>
            <div class="btn btn-primary">View</div>
          </div>
          <div class="btn btn-link">Matches</div>
        </div>
      </div>
    </div>


  </div>

  {{ model | json }}
</div>
