.header {
  height: 100px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  &__main-nav {
    height: 50px;
    display: flex;
    width: 100%;
    align-content: center;
  }
  &__logo {
    flex: 1;
    align-self: center;
    vertical-align: middle;
    font-size: 18px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    &-img {
      font-size: 24px;
      color: coral;
      margin-right: 5px;
    }
  }
}



.main {
  margin-top: 16px;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  min-height: 200px;
  padding: 20px 15px;
  margin-bottom: 60px;
}
