<header class="header">
  <div class="container">

    <div class="header__main-nav">
      <div class="header__logo">
        <i class="fa fa-bandcamp header__logo-img" aria-hidden="true"></i>
        My market
      </div>
      <div class="header__top-nav top-nav">
        <ul class="top-nav__list">
          <li class="top-nav__elem top-nav__elem_add">
            <i class="fa fa-plus top-nav__icon top-nav__icon_plus" aria-hidden="true"></i>
            add product
          </li>
          <li class="top-nav__elem top-nav__elem_basket">
            <i class="fa fa-shopping-basket top-nav__icon top-nav__icon_basket" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="header__bottom-nav">
      <app-header-menu></app-header-menu>
    </div>

  </div>
</header>


<div class="container">
  <router-outlet></router-outlet>
</div>
