.header {
  height: 100px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  &__main-nav {
    height: 50px;
    display: flex;
    width: 100%;
    align-content: center;
  }
  &__logo {
    flex: 1;
    align-self: center;
    vertical-align: middle;
    font-size: 18px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    &-img {
      font-size: 24px;
      color: coral;
      margin-right: 5px;
    }
  }
}
.top-nav {
  display: flex;
  flex: 1;
  &__list {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    margin: 0;
    justify-content: flex-end;
  }
  &__elem {
    align-self: center;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    &_basket {
      font-size: 24px;
      color: coral;
    }
  }
  &__icon {
    &_plus {
      font-size: 18px;
      vertical-align: middle;
      color: #444;
      margin-right: 5px;
    }
  }
}
